.input__container {
    display: flex;
    margin: 0 10px;
}

.input__input {
    flex: 1;
    border: none;
    outline: none;
    color: white;
    background-color: var(--Dark-Green);
    border-radius: 5px;
}

.input__input::placeholder {
    text-align: center;
    color: rgba(255, 255, 255, 0.74);
}


.input__button {
    border: none;
    cursor: pointer;
    background-color: var(--Very-Dark-Green);
    padding: 10px;
    color: white;
    outline: 1px solid rgba(255, 255, 255, 0.596);
    transition: 300ms ease;
}

.input__button:hover {
    background-color: var(--Dark-Green);
}
